<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <link rel="stylesheet" type="text/css" href="styles/bootstrip.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <title><%= title %></title>
</head>
<body>

  <link href='http://fonts.googleapis.com/css?family=Raleway:500' rel='stylesheet' type='text/css'>

<section ng-view></section>

<script type="text/javascript">
    window.user = <%- user || 'null' %>;

</script>
  
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>

<script type="text/javascript" src="/lib/angular/angular.js"></script>

<script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>

<script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

<script type="text/javascript" src="/articles/articles.client.module.js"></script>

<script type="text/javascript" src="/articles/controllers/articles.
client.controller.js"></script>

<script type="text/javascript" src="/articles/services/articles.
client.services.js"></script>

<script type="text/javascript" src="/articles/config/articles.
client.routes.js"></script>

<script type="text/javascript" src="/example/example.client.module.js"></script>

<script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>

<script type="text/javascript" src="/example/config/example.client.routes.js"></script>


<script type="text/javascript" src="/users/users.client.module.js"></script>

<script type="text/javascript" src="/users/services/authentication.client.service.js"></script>


<script type="text/javascript" src="/chat/chat.client.module.js"></script>

<script type="text/javascript" src="/chat/services/socket.client.service.js"></script>

<script type="text/javascript" src="/chat/controller/chat.client.controller.js"></script>

<script type="text/javascript" src="/chat/config/chat.client.routes.js"></script>

<!-- Bootstrap AngularJS application -->
<script type="text/javascript" src="/application.js"></script>
</body>
</html>