<!DOCTYPE html>
<html xmlns:ng="http://angularjs.org">
<head
  <!-- Use the 'title' property to render a page title  -->
  <title><%= title %></title>
</head>
<body>
  <!-- If a user is not authenticated, display the authentication links -->
  <% if (userFullname) { %>
    <h2>Hello <%=userFullname%> </h2>
    <a href="/signout">Sign out</a>
  <% } else { %>
    <a href="/signup">Signup</a>
    <a href="/signin">Signin</a>
  <% } %>
  
  <!-- Render AngularJS views  -->
<!-- The example view -->
  <section ng-include src="'public/example/views/example.client.view.html'"></section>

    <!-- Load local libraries -->
  <script type="text/javascript" src="/lib/angular/angular.js"></script>

  <!-- Load the example module -->
  <script type="text/javascript" src="/example/example.client.module.js"></script>

  <!-- Bootstrap AngularJS application -->
  <script type="text/javascript" src="/application.js"></script>

</body>
</html>
